<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="static/css/style.css" />
        <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="static/js/main.js" type="text/javascript"></script>
        <!-- <script src="../static/js/main.js" type="text/javascript"></script> -->
        <title>画像生成AI</title>
    </head>
    <body>
        <form class="grid grid-cols-1 gap-6 m-10 form">
            <div class="">
                <h1 class="text-4xl">イラスト生成AI</h1>
            </div>
            <label class="block">
                <span class="text-gray-700">どんな絵が描きたいか下に入力してね</span>
                <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="input_prompt" rows="5"></textarea>
            </label>
            <details>
                <summary>詳細設定</summary>
                <div class="details-setting">
                    <label class="block m-5">
                        <span class="text-gray-700">ネガティブプロンプト (日本語でもOK!!!)</span>
                        <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="negative_prompt" rows="3"></textarea>
                    </label>
                    <label class="block m-5">
                        <span class="text-gray-700">AIモデル （開発中）</span>
                        <select class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" onchange="outputSelectedValueAndText(this);" id="model">
                            <option value="anything" selected>anything-v4.0</option>
                            <option value="LimeMix">LimeMix</option>
                            <option value="">(開発中)</option>
                            <option value="">(開発中)</option>
                        </select>
                        <p class="model-info" id="anything">→彩度が薄く、綺麗、ディティールが細かい</p>
                        <p class="model-info" id="LimeMix" style="display: none">→濃い、綺麗、ディティールがちょっと細かい</p>
                    </label>
                    <label class="block m-5">
                        <span class="text-gray-700">シード値 (0はランダム)</span>
                        <input type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="seed" placeholder="" value="0" />
                    </label>
                    <label class="block m-5">
                        <span class="text-gray-700">ステップ数</span>
                        <input type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="num-step" placeholder="" value="100" />
                    </label>
                    <label class="block m-5">
                        <div class="flex items-center mb-4">
                            <input id="allows_NSWF" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded 0 dark:border-gray-600" />
                            <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-700">R18のイラストを許可する</label>
                        </div>
                    </label>
                </div>
            </details>

            <div class="m-3" id="send-div">
                <button class="px-2 py-1 w-1/4 text-blue-500 border border-blue-500 font-semibold rounded hover:bg-blue-100" id="send" type="button">生成</button>
            </div>

            <div class="loading" style="display: none">
                <p class="prog-text">生成中...</p>
                <div class="prog-bar">
                    <p class="bar"></p>
                </div>
            </div>
        </form>

        <div class="grid grid-cols-1 gap-6 m-10 form ai-image text-center">
            <div class="text-info">生成後、ここに表示されるよ</div>
            <div class="ai-image-image m-4"></div>
        </div>

        <div class="grid grid-cols-1 gap-6 m-10 form text-center">
            <details>
                <summary>イラストの詳細情報</summary>
                <div class="details-setting">
                    <label class="block m-5 image-info" style="text-align: left"></label>
                </div>
            </details>
        </div>
    </body>
</html>
